.daim-container {
  display: block;
  padding: 0px 15px;
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 1300px) {
  .daim-container {
    max-width: 1150px;
  }
}

.daim-flx-row {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.daim-flx-row:after {
  content: "";
  display: block;
  clear: both;
}
.daim-flx-row.f-alg-center {
  align-items: center;
}
.daim-flx-row.f-alg-start {
  align-items: flex-start;
}
.daim-flx-row.f-alg-end {
  align-items: flex-end;
}
.daim-flx-row.f-jst-center {
  justify-content: center;
}
.daim-flx-row.f-jst-space-btwn {
  justify-content: space-between;
}
.daim-flx-row.f-jst-space-arnd {
  justify-content: space-around;
}
.daim-flx-row.f-reverse {
  flex-direction: row-reverse;
}
.daim-flx-row > * {
  flex-grow: 0;
  flex-shrink: 1;
  padding: 0px 15px;
  margin-bottom: 15px;
}
.daim-flx-row > *:after {
  content: "";
  display: block;
  clear: both;
}
.daim-flx-row *.flx-col {
  flex-basis: 0;
  flex-grow: 1;
}
.daim-flx-row *.flx-col-1 {
  flex-grow: 0;
  flex-basis: 8.3333333333%;
}
.daim-flx-row *.flx-col-2 {
  flex-grow: 0;
  flex-basis: 16.6666666667%;
}
.daim-flx-row *.flx-col-3 {
  flex-grow: 0;
  flex-basis: 25%;
}
.daim-flx-row *.flx-col-4 {
  flex-grow: 0;
  flex-basis: 33.3333333333%;
}
.daim-flx-row *.flx-col-5 {
  flex-grow: 0;
  flex-basis: 41.6666666667%;
}
.daim-flx-row *.flx-col-6 {
  flex-grow: 0;
  flex-basis: 50%;
}
.daim-flx-row *.flx-col-7 {
  flex-grow: 0;
  flex-basis: 58.3333333333%;
}
.daim-flx-row *.flx-col-8 {
  flex-grow: 0;
  flex-basis: 66.6666666667%;
}
.daim-flx-row *.flx-col-9 {
  flex-grow: 0;
  flex-basis: 75%;
}
.daim-flx-row *.flx-col-10 {
  flex-grow: 0;
  flex-basis: 83.3333333333%;
}
.daim-flx-row *.flx-col-11 {
  flex-grow: 0;
  flex-basis: 91.6666666667%;
}
.daim-flx-row *.flx-col-12 {
  flex-grow: 0;
  flex-basis: 100%;
}
@media screen and (max-width: 1000px) {
  .daim-flx-row *.flx-col-md-1 {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
  }
  .daim-flx-row *.flx-col-md-2 {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
  }
  .daim-flx-row *.flx-col-md-3 {
    flex-grow: 0;
    flex-basis: 25%;
  }
  .daim-flx-row *.flx-col-md-4 {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
  }
  .daim-flx-row *.flx-col-md-5 {
    flex-grow: 0;
    flex-basis: 41.6666666667%;
  }
  .daim-flx-row *.flx-col-md-6 {
    flex-grow: 0;
    flex-basis: 50%;
  }
  .daim-flx-row *.flx-col-md-7 {
    flex-grow: 0;
    flex-basis: 58.3333333333%;
  }
  .daim-flx-row *.flx-col-md-8 {
    flex-grow: 0;
    flex-basis: 66.6666666667%;
  }
  .daim-flx-row *.flx-col-md-9 {
    flex-grow: 0;
    flex-basis: 75%;
  }
  .daim-flx-row *.flx-col-md-10 {
    flex-grow: 0;
    flex-basis: 83.3333333333%;
  }
  .daim-flx-row *.flx-col-md-11 {
    flex-grow: 0;
    flex-basis: 91.6666666667%;
  }
  .daim-flx-row *.flx-col-md-12 {
    flex-grow: 0;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 780px) {
  .daim-flx-row *.flx-col-sm-1 {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
  }
  .daim-flx-row *.flx-col-sm-2 {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
  }
  .daim-flx-row *.flx-col-sm-3 {
    flex-grow: 0;
    flex-basis: 25%;
  }
  .daim-flx-row *.flx-col-sm-4 {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
  }
  .daim-flx-row *.flx-col-sm-5 {
    flex-grow: 0;
    flex-basis: 41.6666666667%;
  }
  .daim-flx-row *.flx-col-sm-6 {
    flex-grow: 0;
    flex-basis: 50%;
  }
  .daim-flx-row *.flx-col-sm-7 {
    flex-grow: 0;
    flex-basis: 58.3333333333%;
  }
  .daim-flx-row *.flx-col-sm-8 {
    flex-grow: 0;
    flex-basis: 66.6666666667%;
  }
  .daim-flx-row *.flx-col-sm-9 {
    flex-grow: 0;
    flex-basis: 75%;
  }
  .daim-flx-row *.flx-col-sm-10 {
    flex-grow: 0;
    flex-basis: 83.3333333333%;
  }
  .daim-flx-row *.flx-col-sm-11 {
    flex-grow: 0;
    flex-basis: 91.6666666667%;
  }
  .daim-flx-row *.flx-col-sm-12 {
    flex-grow: 0;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 520px) {
  .daim-flx-row *.flx-col-xs-1 {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
  }
  .daim-flx-row *.flx-col-xs-2 {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
  }
  .daim-flx-row *.flx-col-xs-3 {
    flex-grow: 0;
    flex-basis: 25%;
  }
  .daim-flx-row *.flx-col-xs-4 {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
  }
  .daim-flx-row *.flx-col-xs-5 {
    flex-grow: 0;
    flex-basis: 41.6666666667%;
  }
  .daim-flx-row *.flx-col-xs-6 {
    flex-grow: 0;
    flex-basis: 50%;
  }
  .daim-flx-row *.flx-col-xs-7 {
    flex-grow: 0;
    flex-basis: 58.3333333333%;
  }
  .daim-flx-row *.flx-col-xs-8 {
    flex-grow: 0;
    flex-basis: 66.6666666667%;
  }
  .daim-flx-row *.flx-col-xs-9 {
    flex-grow: 0;
    flex-basis: 75%;
  }
  .daim-flx-row *.flx-col-xs-10 {
    flex-grow: 0;
    flex-basis: 83.3333333333%;
  }
  .daim-flx-row *.flx-col-xs-11 {
    flex-grow: 0;
    flex-basis: 91.6666666667%;
  }
  .daim-flx-row *.flx-col-xs-12 {
    flex-grow: 0;
    flex-basis: 100%;
  }
}
.daim-flx-row.flx-cols {
  flex-basis: 0;
  flex-grow: 1;
}
.daim-flx-row.flx-cols-1 > div {
  flex-grow: 0;
  flex-basis: 100%;
}
.daim-flx-row.flx-cols-2 > div {
  flex-grow: 0;
  flex-basis: 50%;
}
.daim-flx-row.flx-cols-3 > div {
  flex-grow: 0;
  flex-basis: 33.3333333333%;
}
.daim-flx-row.flx-cols-4 > div {
  flex-grow: 0;
  flex-basis: 25%;
}
.daim-flx-row.flx-cols-5 > div {
  flex-grow: 0;
  flex-basis: 20%;
}
.daim-flx-row.flx-cols-6 > div {
  flex-grow: 0;
  flex-basis: 16.6666666667%;
}
.daim-flx-row.flx-cols-7 > div {
  flex-grow: 0;
  flex-basis: 14.2857142857%;
}
.daim-flx-row.flx-cols-8 > div {
  flex-grow: 0;
  flex-basis: 12.5%;
}
.daim-flx-row.flx-cols-9 > div {
  flex-grow: 0;
  flex-basis: 11.1111111111%;
}
.daim-flx-row.flx-cols-10 > div {
  flex-grow: 0;
  flex-basis: 10%;
}
.daim-flx-row.flx-cols-11 > div {
  flex-grow: 0;
  flex-basis: 9.0909090909%;
}
.daim-flx-row.flx-cols-12 > div {
  flex-grow: 0;
  flex-basis: 8.3333333333%;
}
@media screen and (max-width: 1000px) {
  .daim-flx-row.flx-cols-md-1 > div {
    flex-grow: 0;
    flex-basis: 100%;
  }
  .daim-flx-row.flx-cols-md-2 > div {
    flex-grow: 0;
    flex-basis: 50%;
  }
  .daim-flx-row.flx-cols-md-3 > div {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
  }
  .daim-flx-row.flx-cols-md-4 > div {
    flex-grow: 0;
    flex-basis: 25%;
  }
  .daim-flx-row.flx-cols-md-5 > div {
    flex-grow: 0;
    flex-basis: 20%;
  }
  .daim-flx-row.flx-cols-md-6 > div {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
  }
  .daim-flx-row.flx-cols-md-7 > div {
    flex-grow: 0;
    flex-basis: 14.2857142857%;
  }
  .daim-flx-row.flx-cols-md-8 > div {
    flex-grow: 0;
    flex-basis: 12.5%;
  }
  .daim-flx-row.flx-cols-md-9 > div {
    flex-grow: 0;
    flex-basis: 11.1111111111%;
  }
  .daim-flx-row.flx-cols-md-10 > div {
    flex-grow: 0;
    flex-basis: 10%;
  }
  .daim-flx-row.flx-cols-md-11 > div {
    flex-grow: 0;
    flex-basis: 9.0909090909%;
  }
  .daim-flx-row.flx-cols-md-12 > div {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
  }
}
@media screen and (max-width: 780px) {
  .daim-flx-row.flx-cols-sm-1 > div {
    flex-grow: 0;
    flex-basis: 100%;
  }
  .daim-flx-row.flx-cols-sm-2 > div {
    flex-grow: 0;
    flex-basis: 50%;
  }
  .daim-flx-row.flx-cols-sm-3 > div {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
  }
  .daim-flx-row.flx-cols-sm-4 > div {
    flex-grow: 0;
    flex-basis: 25%;
  }
  .daim-flx-row.flx-cols-sm-5 > div {
    flex-grow: 0;
    flex-basis: 20%;
  }
  .daim-flx-row.flx-cols-sm-6 > div {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
  }
  .daim-flx-row.flx-cols-sm-7 > div {
    flex-grow: 0;
    flex-basis: 14.2857142857%;
  }
  .daim-flx-row.flx-cols-sm-8 > div {
    flex-grow: 0;
    flex-basis: 12.5%;
  }
  .daim-flx-row.flx-cols-sm-9 > div {
    flex-grow: 0;
    flex-basis: 11.1111111111%;
  }
  .daim-flx-row.flx-cols-sm-10 > div {
    flex-grow: 0;
    flex-basis: 10%;
  }
  .daim-flx-row.flx-cols-sm-11 > div {
    flex-grow: 0;
    flex-basis: 9.0909090909%;
  }
  .daim-flx-row.flx-cols-sm-12 > div {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
  }
}
@media screen and (max-width: 520px) {
  .daim-flx-row.flx-cols-xs-1 > div {
    flex-grow: 0;
    flex-basis: 100%;
  }
  .daim-flx-row.flx-cols-xs-2 > div {
    flex-grow: 0;
    flex-basis: 50%;
  }
  .daim-flx-row.flx-cols-xs-3 > div {
    flex-grow: 0;
    flex-basis: 33.3333333333%;
  }
  .daim-flx-row.flx-cols-xs-4 > div {
    flex-grow: 0;
    flex-basis: 25%;
  }
  .daim-flx-row.flx-cols-xs-5 > div {
    flex-grow: 0;
    flex-basis: 20%;
  }
  .daim-flx-row.flx-cols-xs-6 > div {
    flex-grow: 0;
    flex-basis: 16.6666666667%;
  }
  .daim-flx-row.flx-cols-xs-7 > div {
    flex-grow: 0;
    flex-basis: 14.2857142857%;
  }
  .daim-flx-row.flx-cols-xs-8 > div {
    flex-grow: 0;
    flex-basis: 12.5%;
  }
  .daim-flx-row.flx-cols-xs-9 > div {
    flex-grow: 0;
    flex-basis: 11.1111111111%;
  }
  .daim-flx-row.flx-cols-xs-10 > div {
    flex-grow: 0;
    flex-basis: 10%;
  }
  .daim-flx-row.flx-cols-xs-11 > div {
    flex-grow: 0;
    flex-basis: 9.0909090909%;
  }
  .daim-flx-row.flx-cols-xs-12 > div {
    flex-grow: 0;
    flex-basis: 8.3333333333%;
  }
}

.daim-block-row {
  display: block;
  width: 100%;
}
.daim-block-row:after {
  content: "";
  display: block;
  clear: both;
}
.daim-block-row .block-cols-1 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 100%;
}
.daim-block-row .block-cols-1 > div:nth-child(1n) {
  margin-right: 0;
}
.daim-block-row .block-cols-2 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 49%;
}
.daim-block-row .block-cols-2 > div:nth-child(2n) {
  margin-right: 0;
}
.daim-block-row .block-cols-3 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 32%;
}
.daim-block-row .block-cols-3 > div:nth-child(3n) {
  margin-right: 0;
}
.daim-block-row .block-cols-4 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 23.5%;
}
.daim-block-row .block-cols-4 > div:nth-child(4n) {
  margin-right: 0;
}
.daim-block-row .block-cols-5 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 18.4%;
}
.daim-block-row .block-cols-5 > div:nth-child(5n) {
  margin-right: 0;
}
.daim-block-row .block-cols-6 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 15%;
}
.daim-block-row .block-cols-6 > div:nth-child(6n) {
  margin-right: 0;
}
.daim-block-row .block-cols-7 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 12.5714285714%;
}
.daim-block-row .block-cols-7 > div:nth-child(7n) {
  margin-right: 0;
}
.daim-block-row .block-cols-8 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 10.75%;
}
.daim-block-row .block-cols-8 > div:nth-child(8n) {
  margin-right: 0;
}
.daim-block-row .block-cols-9 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 9.3333333333%;
}
.daim-block-row .block-cols-9 > div:nth-child(9n) {
  margin-right: 0;
}
.daim-block-row .block-cols-10 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 8.2%;
}
.daim-block-row .block-cols-10 > div:nth-child(10n) {
  margin-right: 0;
}
.daim-block-row .block-cols-11 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 7.2727272727%;
}
.daim-block-row .block-cols-11 > div:nth-child(11n) {
  margin-right: 0;
}
.daim-block-row .block-cols-12 > div {
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  width: 6.5%;
}
.daim-block-row .block-cols-12 > div:nth-child(12n) {
  margin-right: 0;
}

.daim-grid-content .daim-wrap-cont {
  height: 100%;
}

/*# sourceMappingURL=containers.css.map */
