@import "colors.scss";

//-fotns
$font-sizes:(
	'standar' : 14pt,
	'medium'  : 24pt,
	'big' 	  : 30pt,
	'xl' 	  : 45pt
);
$font-rel-sizes:(
	'standar' : 1rem,
	'medium'  : 1.6rem,
	'big' 	  : 2.2rem,
	'xl' 	  : 3.1rem
);
$font-weights:(
	'light'  :100,
	'regular':400,
	'medium' :600,
	'bold' 	 :900
);

//-resets
*,
*::before,
*::after {
  box-sizing: border-box;
}