*, *::before, *::after {
  box-sizing: initial;
}

.daim-glob-frame * {
  box-sizing: border-box;
}
.daim-glob-frame *::before, .daim-glob-frame *::after {
  box-sizing: border-box;
}

.daim-vc-logo {
  background-image: url("../../img/daim-logo.png") !important;
}

.wp-menu-image > img {
  max-width: 25px;
}

.daimos-dash-container {
  font-size: 12pt;
}
.daimos-dash-container * {
  font-family: arial;
  box-sizing: border-box;
}
.daimos-dash-container *::before, .daimos-dash-container *::after {
  box-sizing: border-box;
}
.daimos-dash-container .daim-title-area > h1 {
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #1d1a2f;
}
.daimos-dash-container .daim-title-area > h1 .daimos-logo {
  margin-right: 15px;
  font-size: 1.5em;
  color: #8bd450;
}
.daimos-dash-container .daim-admin-form-group {
  margin-bottom: 30px;
}
.daimos-dash-container .daim-admin-form-group form {
  margin: 0px;
}
.daimos-dash-container .daim-admin-form-group form > h2 {
  margin: 0px;
  padding: 15px 20px;
  font-size: 1.2rem;
  background-color: #734f9a;
  color: #fff;
}
.daimos-dash-container .daim-admin-form-group form table {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.daimos-dash-container .daim-admin-form-group form table tbody {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.daimos-dash-container .daim-admin-form-group form table tbody tr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 15px;
}
.daimos-dash-container .daim-admin-form-group form table tbody tr th, .daimos-dash-container .daim-admin-form-group form table tbody tr td {
  padding: 0px;
  margin: 0px;
}
.daimos-dash-container .daim-admin-form-group form table tbody tr th {
  width: 30%;
  font-size: 0.8rem;
}
.daimos-dash-container .daim-admin-form-group form table tbody tr td {
  width: 70%;
}
.daimos-dash-container .daim-admin-form-group form table tbody tr td input[type=text], .daimos-dash-container .daim-admin-form-group form table tbody tr td select {
  width: 100%;
  max-width: 100%;
  border-radius: 0px;
  text-align: right;
  border-color: #1d1a2f;
}
.daimos-dash-container .daim-admin-form-group form .sumit-container {
  background-color: #1d1a2f;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 15px 20px;
}
.daimos-dash-container .daim-admin-form-group form .sumit-container > .submit {
  margin: 0px;
  padding: 0px;
}
.daimos-dash-container .daim-admin-form-group form .sumit-container > .submit input[type=submit] {
  background-color: #8bd450;
  color: #1d1a2f;
  border: 0px;
  border-radius: 0px;
}
.daimos-dash-container .daim-admin-form-group form .sumit-container > .submit input[type=submit]:hover, .daimos-dash-container .daim-admin-form-group form .sumit-container > .submit input[type=submit] :focus, .daimos-dash-container .daim-admin-form-group form .sumit-container > .submit input[type=submit] :active {
  box-shadow: none;
  background-color: #3f6d4e;
  color: #8bd450;
}

/*# sourceMappingURL=styles.css.map */
