@import "../components/mixins.scss";

//Wp Resets
body{font-size: 12pt;}
*, *::before, *::after {
    box-sizing: initial;
}

.daim-glob-frame{
	
	*{
		box-sizing: border-box;
		&::before,&::after{box-sizing: border-box;}
	}
}

.daim-vc-logo{background-image: url('../../img/daim-logo.png')!important;}

.wp-menu-image > img {max-width: 25px;}